@import "tailwindcss";

/* Barras de rolagem invisíveis */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  overflow: scroll;
  scrollbar-width: none;
}

body {
  overflow: auto;
  scrollbar-width: none;
}
